{% extends 'base.html'%}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Логотип</th>
                <th>Тикер</th>
                <th>Компания</th>
                <th>Последняя цена</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>
                    {% if stock.logo %}
                    <img src="{{ MEDIA_URL }}/{{ stock.logo }}" width="40" /></td>
                    {% endif %}
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.get_random_price }}{{ stock.currency.sign }}
                    <a href="{% url 'stock:detail' stock.pk %}">Купить</a> <!-- ссылка на страницу с формой покупки -->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
